.vue-form-wizard .wizard-btn,
.vue-form-wizard .navbar .navbar-nav > li > a.wizard-btn {
  box-sizing: border-box;
  border-width: $border-thick;
  background-color: $transparent-bg;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  padding: $padding-base-vertical $padding-base-horizontal;
  min-width: 140px;
  &:hover,
  &:focus {
    outline: 0 !important;
  }
}
