.vue-tab-wizard, .vue-form-wizard {
  padding-bottom: 20px;
  .is_error {
    border-color: $danger-states-color !important;
    .icon-container {
      background: $danger-states-color !important;
    }
  }
  .icon-circle {
    font-size: 18px;
    border: 3px solid $gray-input-bg;
    border-radius: 50%;
    font-weight: $font-weight-bold;
    width: 70px;
    height: 70px;
    background-color: $white-color;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    &.square_shape {
      border-radius: 0;
    }
    &.tab_shape {
      width: 100%;
      min-width: 100px;
      height: 40px;
      border: none;
      background-color: $gray-input-bg;
      border-radius: 0;
    }
    .icon-container {
      display: flex;
      justify-content: center;
      flex: 1;
      border-radius: 40%;
      &.square_shape, &.tab_shape {
        border-radius: 0;
      }
    }
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .tab-content {
    min-height: 100px;
    padding: 30px 20px 10px;
  }

  .card-footer {
    padding: 0 20px;
  }

  .wizard-header {
    padding: 15px 15px 15px 15px;
    position: relative;
    border-radius: 3px 3px 0 0;
    z-index: 3;
    text-align: center;
  }

  .wizard-title {
    color: $card-black-color;
    font-weight: $font-weight-light;
    margin: 0;
    text-align: center;
  }

  .category {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
    text-align: center;
  }

  .wizard-navigation {
    .progress-with-circle {
      position: relative;
      top: 40px;
      z-index: 50;
      height: 4px;

      .progress-bar {
        box-shadow: none;
        -webkit-transition: width .3s ease;
        -o-transition: width .3s ease;
        transition: width .3s ease;
      }
    }
  }
}
