.vue-tab-wizard{
    padding-bottom:20px;
    .icon-circle{
        font-size: 20px;
        border: 3px solid $gray-input-bg;
        text-align: center;
        border-radius: 50%;
        color: $form-placeholder-color;
        font-weight: $font-weight-bold;
        width: 70px;
        height: 70px;
        background-color: $white-color;
        margin: 0 auto;
        position: relative;
        top: -2px;

        [class*="ti-"]{
            position: absolute;
            z-index: 1;
            left: 1px;
            right: 0px;
            top: 23px;
        }
    }

    &[data-color="azure"]{
        @include set-wizard-color($primary-color);
    }

    &[data-color="green"]{
        @include set-wizard-color($success-color);
    }
    &[data-color="blue"]{
        @include set-wizard-color($info-color);
    }

    &[data-color="orange"]{
        @include set-wizard-color($warning-color);
    }

    &[data-color="red"]{
        @include set-wizard-color($danger-color);
    }

    .tab-content{
        min-height: 200px;
        padding: 105px 20px 10px;
    }

    .wizard-footer{
        padding: 0 15px 5px;
    }


    .wizard-header{
        padding: 15px 15px 15px 15px;
        position: relative;
        border-radius: 3px 3px 0 0;
        z-index: 3;
        text-align: center;
    }

    .wizard-title{
        color: $card-black-color;
        font-weight: $font-weight-light;
        margin: 0;
        text-align:center;
    }

    .category{
        font-size: 14px;
        font-weight: 400;
        color: #9A9A9A;
        margin-bottom: 0px;
        text-align: center;
    }

    .wizard-navigation{
        .progress-with-circle{
            position: relative;
            top: 40px;
            z-index: 50;
            height: 4px;

            .progress-bar{
                box-shadow: none;
                -webkit-transition: width .3s ease;
                -o-transition: width .3s ease;
                transition: width .3s ease;
            }
        }
    }
}
